* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #3e5a40; /* Aqui você pode colocar a cor que preferir */
}

.principal img{
    display: flex;
    width: 12rem;
}

.principal {
    display: flex;
    flex-direction: column; /* Organiza os elementos na vertical */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    color: #fff;
    margin-bottom: -3rem;
}

.principal ol {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.conteudo {
    padding-top: 5rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
}

.atributos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tab-button {
    background-color: transparent;
    border: none;
    color:#ffffff;
    background-color: #666666;
    border-radius: 3rem;
    padding: .5rem;
    cursor: pointer;
    margin: .1rem;
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tipos li{
    background-color: #868686;
    border-radius: 1rem;
    padding: .5rem;
    margin-right: 1rem;
    margin-top: -2rem;
}

.identificador {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
    padding: 2rem;
}

.identificador h2{
    font-size: 1rem;
}